body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item-address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.page-nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.page-nav .weblogo {
  color: #2e2f42;
}

.page-nav .item-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}

.page-nav .item-link:hover {
  color: #404bbf;
}

.page-nav .item-link:focus {
  color: #404bbf;
}
.page-nav .item-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.page-adress {
  font-style: normal;
  margin-left: auto;
}
.page-adress .link-adress {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.page-adress .link-adress:hover {
  color: #404bbf;
}
.page-adress .link-adress:focus {
  color: #404bbf;
}

/* title */

.section-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
}

.page-button:hover {
  background: #404bbf;
}

.page-button:focus {
  background: #404bbf;
}

/* advant */

.section-advant {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.advant-container {
  display: flex;
  align-items: center;
}
.advant-item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advant-list {
  width: calc((100% - 72px) / 4);
}
.section-advant .advant-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-advant .advant-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.item-team {
  display: flex;
  gap: 24px;
}

.team-box {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.list-name {
  padding: 32px 0;
}

.title-team {
  min-width: 162px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* portfolio */

.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.item-portfolio {
  width: calc((100% - 48px) / 3);
}

.cont-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.title-portfolio {
  min-width: 218px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio .portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio .portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background: #2e2f42;
  display: inline-block;
  margin-bottom: 16px;
}
.studiologo {
  color: #f4f4fd;
}
.footer .footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
